<nav class="">
  <%= link_to "Sign in", new_user_session_path unless current_user %>
  <%= link_to "Sign up", new_user_registration_path unless current_user %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete if current_user %>

    <ul>
        <li> <%= link_to "Store Home", store_path %> </li>
        <% if current_cart %>
          <li> <%= link_to "Cart", cart_path(current_cart)%></li>
        <% end %>
    </ul>
</nav>
